<div class="av-sources">
  {{#each sources}}
  <button type="button" class="av-source-btn{{#if active}} active{{/if}}"
    data-action="setSource" data-source="{{key}}">
    {{label}}
  </button>
  {{/each}}
</div>
